#mainBlock
{
	width: 100%;
	height: 100%;
	position: absolute;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	font-family: futura, sans-serif;
	display: block;
	text-align: center;
}


#whye {
	float: left;
}

#nolove {
	float: right;
	position: relative;
	font-size: 500%;
}

h1#heartbreak, h1#808, h1#forsake, h1#nolove {
	padding-top: -30px;
}

#heartless {
	float: right;
	position: relative;
}

#lr {
	float: left;
	position: relative;
}